In [2]:
import pandas as pd
from sklearn.preprocessing import StandardScaler

In [14]:
from scipy.stats import zscore

In [15]:
# Compute z-scores
z_scores = df_flat[['voltage', 'current', 'temperature', 'relative_time']].apply(zscore)

# Check for rows with any value > 3 or < -3 (common threshold)
outliers = (z_scores.abs() > 3).any(axis=1)
print("Outlier rows:", outliers.sum())

Outlier rows: 568607

In [3]:
flat = "/Users/tarunshyam/Learning/NASA_Battery_data/Randomized Battery Usage/flattened_battery_data.csv"

# Load the flattened data
df_flat = pd.read_csv(flat)

In [4]:
# Columns to normalize
cols_to_scale = ['relative_time', 'voltage', 'current', 'temperature']

In [5]:
# Initialize the scaler
scaler = StandardScaler()

In [6]:
# Fit and transform only numeric columns
df_scaled = df_flat.copy()
df_scaled[cols_to_scale] = scaler.fit_transform(df_flat[cols_to_scale])

In [7]:
# Save the standardized dataset
df_scaled.to_csv("flattened_battery_data_scaled.csv", index=False)

In [8]:
df_scaled.head()

,type,source_file,subgroup,sample_index,relative_time,voltage,current,temperature
0,C,RW17.mat,RW_Skewed_High_Room_Temp_DataSet_2Post,0,-0.156174,0.745234,-1.548311,-1.078261
1,C,RW17.mat,RW_Skewed_High_Room_Temp_DataSet_2Post,1,-0.149247,0.988252,-1.543889,-1.071980
2,C,RW17.mat,RW_Skewed_High_Room_Temp_DataSet_2Post,2,-0.142320,1.049007,-1.543889,-1.055234
3,C,RW17.mat,RW_Skewed_High_Room_Temp_DataSet_2Post,3,-0.135393,1.076009,-1.543889,-1.028022
4,C,RW17.mat,RW_Skewed_High_Room_Temp_DataSet_2Post,4,-0.128466,1.092885,-1.543889,-1.000809

In [ ]:
numerical_cols = ['relative_time', 'voltage', 'current', 'temperature']

In [12]:
import matplotlib.pyplot as plt
import seaborn as sns

In [13]:
# Plotting the standardized distributions
for col in numerical_cols:
    plt.figure(figsize=(8, 4))
    sns.histplot(df_scaled[col], bins=100, kde=True)
    plt.title(f'Standardized Distribution of {col}')
    plt.xlabel(col)
    plt.ylabel('Count')
    plt.tight_layout()
    plt.savefig(f'scaled_{col}_distribution.png')
    plt.close()

In [17]:
df_scaled.shape[0]

72501389

In [18]:
df_scaled.head()

,type,source_file,subgroup,sample_index,relative_time,voltage,current,temperature
0,C,RW17.mat,RW_Skewed_High_Room_Temp_DataSet_2Post,0,-0.156174,0.745234,-1.548311,-1.078261
1,C,RW17.mat,RW_Skewed_High_Room_Temp_DataSet_2Post,1,-0.149247,0.988252,-1.543889,-1.071980
2,C,RW17.mat,RW_Skewed_High_Room_Temp_DataSet_2Post,2,-0.142320,1.049007,-1.543889,-1.055234
3,C,RW17.mat,RW_Skewed_High_Room_Temp_DataSet_2Post,3,-0.135393,1.076009,-1.543889,-1.028022
4,C,RW17.mat,RW_Skewed_High_Room_Temp_DataSet_2Post,4,-0.128466,1.092885,-1.543889,-1.000809

In [1]:
import pandas as pd

In [2]:
# Step 1: Sort by source_file and sample_index
df_flat = df_flat.sort_values(by=['source_file', 'sample_index']).reset_index(drop=True)

NameError: name 'df_flat' is not defined

In [3]:
df_scaled.head()

NameError: name 'df_scaled' is not defined

In [4]:
scaled = "/Users/tarunshyam/Learning/NASA_Battery_data/Randomized Battery Usage/ETL/Transformation/flattened_battery_data_scaled.csv"

In [8]:
scaled.head()

AttributeError: 'str' object has no attribute 'head'

In [9]:
scaled

'/Users/tarunshyam/Learning/NASA_Battery_data/Randomized Battery Usage/ETL/Transformation/flattened_battery_data_scaled.csv'

In [10]:
scal = pd.read_csv(scaled)

In [11]:
import pandas as pd

file_path = "/Users/tarunshyam/Learning/NASA_Battery_data/Randomized Battery Usage/ETL/Transformation/flattened_battery_data_scaled.csv"

# Read only necessary columns to get group identifiers
df_groups = pd.read_csv(file_path, usecols=["source_file"])

# Get unique source_file names
unique_files = df_groups["source_file"].unique()
print("Total source files:", len(unique_files))

Total source files: 28

In [12]:
import pandas as pd
import os

In [13]:
# === CONFIGURATION ===
input_csv_path = "/Users/tarunshyam/Learning/NASA_Battery_data/Randomized Battery Usage/ETL/Transformation/flattened_battery_data_scaled.csv"
output_dir = "/Users/tarunshyam/Learning/NASA_Battery_data/Randomized Battery Usage/ETL/Processed_By_Source"
os.makedirs(output_dir, exist_ok=True)

In [14]:
cd = pd.read_csv("/Users/tarunshyam/Learning/NASA_Battery_data/Randomized Battery Usage/ETL/Processed_By_Source/RW1_processed.csv")

In [15]:
cd.head()

,type,source_file,subgroup,sample_index,relative_time,voltage,current,temperature,cycle_id
0,D,RW1.mat,Battery_Uniform_Distribution_Variable_Charge_R...,0,-0.156161,1.548544,-0.428597,-1.637069,NaN
1,D,RW1.mat,Battery_Uniform_Distribution_Variable_Charge_R...,1,-0.155007,1.535043,-0.416438,-1.637069,NaN
2,D,RW1.mat,Battery_Uniform_Distribution_Variable_Charge_R...,2,-0.153852,1.531668,-0.416438,-1.637069,NaN
3,D,RW1.mat,Battery_Uniform_Distribution_Variable_Charge_R...,3,-0.152698,1.531668,-0.416438,-1.637069,NaN
4,D,RW1.mat,Battery_Uniform_Distribution_Variable_Charge_R...,4,-0.151543,1.528292,-0.416438,-1.634958,NaN

In [16]:
df = pd.read_csv("/Users/tarunshyam/Learning/NASA_Battery_data/Randomized Battery Usage/ETL/Processed_By_Source/RW1_processed.csv", usecols=['cycle_id'])  # only load needed column
print("Cycle ID values:")
print(df['cycle_id'].value_counts().head(10))

Cycle ID values:
Series([], Name: count, dtype: int64)

In [17]:
df = pd.read_csv("/Users/tarunshyam/Learning/NASA_Battery_data/Randomized Battery Usage/ETL/Processed_By_Source/RW1_processed.csv")

print(df['cycle_id'].unique())
print(df['type'].value_counts())

[nan]
type
D    1848995
C     786544
R     323213
Name: count, dtype: int64

In [18]:
scal.head()

,type,source_file,subgroup,sample_index,relative_time,voltage,current,temperature
0,C,RW17.mat,RW_Skewed_High_Room_Temp_DataSet_2Post,0,-0.156174,0.745234,-1.548311,-1.078261
1,C,RW17.mat,RW_Skewed_High_Room_Temp_DataSet_2Post,1,-0.149247,0.988252,-1.543889,-1.071980
2,C,RW17.mat,RW_Skewed_High_Room_Temp_DataSet_2Post,2,-0.142320,1.049007,-1.543889,-1.055234
3,C,RW17.mat,RW_Skewed_High_Room_Temp_DataSet_2Post,3,-0.135393,1.076009,-1.543889,-1.028022
4,C,RW17.mat,RW_Skewed_High_Room_Temp_DataSet_2Post,4,-0.128466,1.092885,-1.543889,-1.000809

In [ ]:
import pandas as pd

# Path to the file
file_path = "/Users/tarunshyam/Learning/NASA_Battery_data/Randomized Battery Usage/ETL/Processed_By_Source/RW1_processed.csv"

# Load the data
df = pd.read_csv(file_path)

# Drop 'cycle_id' column if it exists
if 'cycle_id' in df.columns:
    df = df.drop(columns=['cycle_id'])

# Sort by sample index to ensure proper sequence
df = df.sort_values(by='sample_index').copy()

# Assign cycle_id based on transitions of 'type' (from R to C/D or between C and D)
df['cycle_id'] = None
current_cycle = 0
last_type = None
cycle_ids = []

for _, row in df.iterrows():
    row_type = row['type']
    if last_type is None or (row_type != last_type and row_type in ['C', 'D']):
        current_cycle += 1
    last_type = row_type
    cycle_ids.append(current_cycle)

df['cycle_id'] = cycle_ids
df['cycle_id'] = df['cycle_id'].astype(int)

# Save the file back
df.to_csv(file_path, index=False)

print(f"Cycle IDs assigned and file saved: {/Users/tarunshyam/Learning/NASA_Battery_data/Randomized Battery Usage/ETL/Transformation"}")